body{
  background: linear-gradient(to left, rgba(7,27,82,1)0%, rgba(0,128,128,1)100%);
}

h1{
  background: rgba(0,0,0,0.3);
  border-radius: 10px;
  color: white;
  padding: 30px;
}

#statedisplay{
  margin:20px;
}

#contact{
  background: rgba(255,255,255,0.3);
  margin-top: 50px; margin-bottom: 50px;
  margin-left: 150px; margin-right: 200px;
  border-radius: 5px;
}

input{
  margin-top: 10px;
  border-radius: 5px;
  border-color: rgb(7,254,153);
}

button{
  border-radius: 5px;
}